In [97]:
import numpy as np
import pandas as pd
import sys
import os
import pyodbc
import itertools
import collections

In [1]:
os.getcwd()

'c:\\github\\R\\python'

In [8]:
test=pd.read_csv("C:\github\R\sql\sql-\TEST.xls", header =None, names=["ID","DRUG","ROW"])
test.head()

         ID  DRUG  ROW
0  10000101  1125    1
1  10000101  2718    1
2  10000101  2356    1
3  10000101  1525    1
4  10000101  1513    1

In [35]:
## id내 , row별 로 drug list를 뽑기 
test2=test.set_index(["ID","ROW"])
test3= test2.groupby(["ID","ROW"])["DRUG"].apply(list) 
test=test3.to_frame()

In [134]:
## 각 리스트내 조합(combination) 생성
# 약물 2개 이상인 경우만 
combi_list =[list(itertools.combinations (x,2)) for x in test3.tolist() if len(x) >1 ]
## 약물 쌍 list- 중복없음. 
drug_list =[ (x, y) if x> y else(y,x) for l  in combi_list for x, y in l ]

In [157]:
#dataframe 형성. 
a=collections.Counter(drug_list)
df=pd.DataFrame.from_dict(a.keys())
df.columns=["drug1","drug2"]
df["count"]=a.values()
df

     drug1  drug2  count
0     2718   1125      5
1     2356   1125      3
2     1525   1125      5
3     1513   1125      5
4     2718   2356      3
..     ...    ...    ...
101   1612   1014      1
102   1333   1052      1
103   2121   1333      1
104   2121   1052      1
105   2403   2228      1

[106 rows x 3 columns]

In [164]:
#drug1, drug2를 문자열로 바꾸기. 
df["drug1"]=df["drug1"].astype(str)
df["drug2"]=df["drug2"].astype(str)
df.dtypes
df.to_csv("C:\github\R\sql\sql-\ for_cytoscape.csv")